name: 
on:
  push:
    branches:
      - main
env:
  ghSha: ${{ github.sha }}
  ghToken: ${{ secrets.GITHUB_TOKEN }}

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Repo
        uses: actions/checkout@v2
        with:
          fetch-depth: 1
      - name: get tree-sitter cli
        run: | 
            make getTreeSitter 
      - name: generate
        run: |
            echo "TERM=xterm" >> $GITHUB_ENV
            bin/tree-sitter generate
            printf %60s | tr ' ' '-' && echo
      - name: parse
        run: |
            #echo "TERM=xterm" >> $GITHUB_ENV
            bin/tree-sitter parse examples/path.xq
            printf %60s | tr ' ' '-' && echo
            bin/tree-sitter parse examples/postfix.xq
            printf %60s | tr ' ' '-' && echo
            bin/tree-sitter parse examples/primary.xq
            printf %60s | tr ' ' '-' && echo
            bin/tree-sitter parse examples/bang.xq
            printf %60s | tr ' ' '-' && echo
#         bin/tree-sitter test
#         bin/tree-sitter parse examples/*.xq --quiet
#         printf %60s | tr ' ' '-' && echo
#         echo 'PARSE EXAMPLES'
#         echo '=============='
#         echo '1: primay and misc expressions'
#         echo '=============================='
#         bin/tree-sitter parse examples/lib.xq
#         printf %60s | tr ' ' '-' && echo
#         echo '2: constructors expressions'
#         echo '==========================='
#         bin/tree-sitter parse examples/constructors.xq
#         printf %60s | tr ' ' '-' && echo
#         echo '3: path expressions'
#         echo '==========================='
#         bin/tree-sitter parse examples/xPath.xq
#         printf %60s | tr ' ' '-' && echo
#         echo '4: main module and prolog expressions'
#         echo '====================================='
#         bin/tree-sitter parse examples/main.xq
#         printf %60s | tr ' ' '-' && echo
#         echo 'QUERY EXAMPLES'
#         echo '====================================='
#         echo '1: a library module'
#         echo '==================='
#         bin/tree-sitter query --captures queries/highlights.scm examples/lib.xq
#         printf %60s | tr ' ' '-' && echo
#         echo '2: a main module'
#         echo '================'
#         bin/tree-sitter query --captures queries/highlights.scm examples/main.xq
#         printf %60s | tr ' ' '-' && echo
#         echo '3: misc xpath expressions'
#         echo '========================='
#         bin/tree-sitter query --captures queries/highlights.scm examples/xPath.xq
#         printf %60s | tr ' ' '-' && echo
#         echo '4: misc constructor expressions'
#         echo '==============================='
#         bin/tree-sitter query --captures queries/highlights.scm examples/constructors.xq
#         printf %60s | tr ' ' '-' && echo
